
.contenedor{
    /*A los pseudoelementos se entran con ::*/
    width: 300px;
    height: 100px;
    background-color: aquamarine;
}
span.frase{
    font-style: italic;
}
span.frase::before{
    content: '<< ';
    font-size: xx-small;
}
span.frase::after{
    content: ' >>';
    font-size: xx-small;
}
.libro{
    background-color: bisque;
    padding: 15px;
    font-family: arial;
}
.libro::first-letter{/*pseudoelemento que afecta la primera letra*/
    font-size: xx-large;
}
.libro p::first-line{/*Pseudoelemento que afecta la primera linea*/
    color: white;
}
.libro p::selection{/*Pseudoelemento que afecta cuando se selecciona algo*/
    background-color: chocolate;
    color: lime;
}
.listado ul li::marker{
    color: red;
}
.listado ol li::marker{
    color: red;
}