body{

}
.Escenario{
    border: 1px solid #333;
    padding: 10px;

}
.Escenario-1{
    font-size: 32px ;
}
.Escenario-2{
    font-size: 16px ;

}
.em{
    font-size: 2em;
}
.rem{
    font-size: 2rem;
}