body{
    height: 1000px;
}
*{
   
    background-color: antiquewhite;
}
.posicionamientos{
    position: relative;
    background-color:white;
    height: 200px;
}
p{
    border: 2px solid grey;
    padding: 5px;
}
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}
.fixed{
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.absolute{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.sticky{
    position: sticky;
    background-color: blue;
    color: white;
    top: 0px;
    z-index: 2;
}