/*https://codepen.io/osublake/pen/dMLQJr*/
.contenedor{
    display: flex;
    /*Eje principal (x) se usa jusitify content*/
    justify-content: space-around ;
    /*Eje secundario (y) se usa align items*/
    align-items: center;
    /*Junta los items cuando se hace mas pequeña la pántalla*/
    flex-wrap: wrap;

    gap: 1rem;
    background-color: yellow;
    padding: 0.25rem;
    min-height: 5rem;
    
}
.item{
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem;
}
.item2{
    align-self: stretch;
}