.div1, .div2{
    background-color: red;
    /*Por defecto tienen diplay block*/
}
.span1{
    
    float: left;
    background-color: aquamarine;
    /*Por defecto tienen display inline
    display inline solo pone el siguiente objeto al lado suyo, sin pasar espacio,
    ademas no modifica la propiedades del objeto*/
}
.span2{
    background-color: aquamarine;
    float: right;
    
    /*Por defecto tienen display inline
    display inline solo pone el siguiente objeto al lado suyo, sin pasar espacio,
    ademas no modifica la propiedades del objeto*/
}
.imagenes{
    
    width: 50px;
    height: 50px;
        /*Por defecto tienen display inline-block
        display inline-block, pone el siguiente objeto al lado de el y 
        modifica las propiedades de los objetos*/
}